

<article itemscope itemtype="http://schema.org/Product"> 
	<h3 itemprop="name">{{ product.name|truncate(20) }}</h3>
	<div class="pgrd-content">
		<label class="turn  pgrd-icon" for="turn{{ product.slug }}">&#8634;</label>
		<input type="checkbox" id="turn{{ product.slug }}" />
		<div class="pgrd-item txtcenter">
			<a href="{{ path('sylius_product_show', {'slug': product.slug}) }}" title="Show product" itemprop="url">
				<img alt="{{ product.name }}"  itemprop="image" src="{{ product.image.path|default('http://placehold.it/262x255')|imagine_filter('sylius_262x255') }}">
				<img class="img2 center" src="http://placehold.it/262x255">
			</a>
			<div class="pgrd-description" itemprop="description">
		        <p>{{ product.shortDescription|default('sylius.product.no_description'|trans)|raw }}</p>
			</div><!--/end .description-->
		</div>
        <form action="{{ path('sylius_cart_item_add', {'id': product.id}) }}" method="post" class="pgrd-options row">

		{% set form = sylius_cart_form({'product': product}) %}
                    
			<a class=" pgrd-icon" href="{{ path('sylius_product_show', {'slug': product.slug}) }}" title="Compare product">&#119598;</a>
			<a class=" pgrd-icon" href="{{ path('sylius_product_show', {'slug': product.slug}) }}" title="Add product to loved list"> 	&#9829;</a>
        	{% if product.hasOptions %}
	        	{% if product.isVariantSelectionMethodChoice %}
                    	<div class="pgrd-select"><span class="pgrd-icon">&#119612;</span>
	                    	<div class="pgrd-selectlist">
			                    {% for variant in product.variants if variant.available %}
	                                {% set label = 'popo' %}
		                            {% if variant.presentation is empty %}
		                                {% for option in variant.options %}
		                                	{% set label = option.value %} {# ~ '<small> (' ~ variant.price|sylius_money ~ ')</small> -' ~ option.presentation ~ #}
		                                {% endfor %}
		                            {% else %}
		                                {% set label = variant.presentation %}
		                            {% endif %}
			                        {% if sylius_inventory_is_available(variant) %}
			                            <label>
				                            {{ form_widget(form.variant[loop.index0] ) }}
			                            	<div>{{ label|raw }}</div>
			                            </label>
			                        {% else %}
			                            <span class="label label-important">{{ 'sylius.out_of_stock'|trans }}</span>
			                        {% endif %}
		                        {% endfor %}
	                    	</div>
                    	</div>
	            {% else %}
                    {{ form_widget(form.variant) }}
	        	{% endif %}
            {% endif %}
	            {% if not sylius_inventory_is_available(product.masterVariant) %}
	            	<span>No stock</span>
	            {% else %}
					<button type="submit" class="addtocart pgrd-icon"><span>&#8628;</span>&#9141;</button>
	            {% endif %}
			{{ form_widget(form.quantity, {'attr': {'class': 'center-text'}, 'empty_value': '1', 'type': 'hidden'}) }}
			{{ form_widget(form._token) }}
	
        </form>
	</div>
	<span itemprop="price" class="pgrd-price"><a href="{{ path('sylius_product_show', {'slug': product.slug}) }}">{{ product.price|sylius_money }}</a></span>

</article>